*{transition:all .5s ease;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;}
.w1200{max-width: 1200px;margin: 0px auto;}
.mt20{margin-top: 20px;}
.mmc_head{width: 100%;height: 120px;background-color: #f3f3f3;padding-top: 40px;position: fixed;z-index: 999;}
.logo{float: left;}
/*.navfix{background:#231e5a;filter:alpha(opactiy:90);opacity:0.9;box-shadow:0 0 5px rgba(0,0,0,.2);padding-top: 0px;}*/
.logo img{width: 100px;height: 80px;}
.mmc_nav{float: left;margin-left: 20%;}
.mmc_nav ul li{float: left;}
.mmc_nav ul li a{color: #000;font-size: 18px;padding: 25px 25px;line-height: 60px;font-weight: 900;}
.mmc_nav ul li.active a{color: #679ff5;}
.mmc_head_qh{position: absolute;right: 20%;width:121px;height:44px;background-color:#257bf2;border-radius:22px;top: 45px;cursor: pointer;z-index: 2;}
.mmc_head_qh p{color: #000;font-size: 18px;text-align: center;line-height:44px;}
.mmc_head_qh p img{margin-left: 10px;}
.mmc_head_qh_body{width: 100%;position: absolute;top: 110%;left: 0px;height: 95px;background: #ccc;border-radius: 6px;display: none;}
.mmc_head_qh_body_p a{color: #000;}
.mmc_head_qh_body_p a:hover{text-decoration: underline;}
.open_btn{width:40px;height:40px;line-height:40px;color: #FFFFFF;background: #454545;position: absolute;top: 30px;right: 10px;text-align: center;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;display: none;cursor: pointer;background: url(../img/anniu.png) no-repeat top center;}
.mmc_block1_body{padding: 240px 0px 0px 0px;text-align: center;}
.mmc_block1{width: 100%;position: relative;background: url(../img/bg.png) no-repeat top center;background-size: cover;}
.mmc_block1_p1{color: #ffffff;font-size: 38px;}
.mmc_block1_p2{color: #ffffff;font-size: 45px;margin-top: 120px;margin-bottom: 140px;}
.mmc_block1_p3 a{width:324px;height:73px;background-color:#f42267;border-radius:36px;text-align: center;color: #ffffff;font-size: 16px;display: inline-block;line-height: 73px;font-weight: 900;}
.mmc_block1_js{width: 100%;position: absolute;height: 368px;left: 0px;top: 740px;z-index: 4;}
.mmc_block1_js_body{width: 1110px;margin: 0 auto;height: 100%;background-size: contain;padding: 80px 420px 104px 73px;}
.mmc_block1_js_body_p{color: #3a3d4b;font-size: 22px;line-height: 40px;}
.mmc_block2{height: 900px;width: 100%;background-color: #F1F1F2;padding-top: 330px;position: relative;  }
.mmc_block2_left{float: left;width:540px;height:480px;padding-top: 90px;position: relative;z-index: 3;}
.gs{position: relative;}
.mmc_block2_right{width: 50%;position: absolute;top:0px;right: 0px;height: 480px}
.title1{color: #257bf2;font-size: 48px;text-align: left;font-weight: 900;}
.title1 em{color: #000000;}
.mmc_block2_right_p{color: #3a3d4b;font-size: 22px;line-height: 40px;margin-top: 20px;}
.mmc_block3{background-color:#212121;width: 100%;padding-top: 100px;background: url(../img/mmc_block3_bg.png) no-repeat left center;background-size: cover;}
.qrcode{width: 200px;height: 200px;margin: 20px auto;}
.title{color: #ffffff;font-size: 24px;text-align: center;}
.title2{font-size: 48px;color: #ffffff;text-align: center;font-weight: 900;}
.title2 em{color: #257bf2;}
.mmc_block3_item_box{padding-top: 60px;}
.mmc_block3_item_body{border-bottom:2px #2d2d2d solid;padding-bottom: 60px;}
.mmc_block3_item{width: 400px;height: 420px;float: left;text-align: center;padding: 40px 20px 0px 15px;border:2px #2d2d2d solid;}
.mmc_block3_item_topborderno{border-top: none;}
.mmc_block3_item_bottomborderno{border-bottom: none;}
.mmc_block3_item_leftborderno{border-left: none;}
.mmc_block3_item_rightborderno{border-right: none;}
.mmc_block3_item_bottom{width: 400px;text-align: center;height: 340px;padding-top: 60px;margin: 20px auto;}
.mmc_block3_item_p{color: #fefefe;font-size: 16px;margin-top: 20px;}
.mmc_block4{width: 100%;height: 600px;background: url(../img/jishu.png) no-repeat top center;padding-top: 140px;background-size: cover;}
.mmc_block4 .title1{text-align: center;}
.mmc_block4 .title1 em{color: #fff;}
.mmc_block5{height: 470px;width: 100%;background: url(../img/mmc_block5.png) no-repeat top center;padding-top: 120px;}
.mmc_block5_p1{color: #000000;font-size: 48px;font-weight: 900;}
.mmc_block5_p1 em{color: #257bf2;}
.mmc_block5 .mmc_block1_p3{margin-top: 40px;}
.mmc_block6_top{width: 100%;height: 100px;background: #F1F1F2;margin-bottom: 140px;}
.mmc_block6{width: 100%;background: #212121 url(../img/mmc_block3_bg.png) no-repeat top center;}
.mmc_block6_body{padding: 60px 0px 60px;}
.mmc_block6_item{width: 50%;float: left;border-left: 10px solid #257bf2;height: 180px;margin-bottom: 20px;padding-right: 10px;}
.mmc_block6_item_body{background-color: #1f1f1f;padding: 20px 0px 0px 40px;height: 180px;}
.mmc_block6_item_p1{color: #ececec;font-size: 22px;}
.mmc_block6_item_p1 img{margin-right: 20px;}
.mmc_block6_item_p2{color: #bdbdbd;font-size: 14px;margin-top: 15px;}
.mmc_block8{width: 100%;background: #212121 url(../img/mmc_block3_bg.png) repeat-y top center;height: 1000px;}
.mmc_block7 .title1{text-align: center;}
.mmc_block7_body{width: 100%;padding: 100px 0px 80px;}
.mmc_block7_item{width:380px;height:600px;border-radius:12px;border:solid 2px #e8e9e9;float: left;text-align: center;padding-top: 60px;margin-right: 20px;}
.user{width:143px;height:143px;border:solid 1px #257bf2;border-radius: 50%;overflow: hidden;margin: 0 auto;}
.user img{width: 100%;height: 100%;}
.mmc_block7_item_p1{color: #257bf2;font-size: 22px;margin-top: 40px;}

.mmc_block7_item_p2{color: #8c8f94;font-size: 16px;margin-top: 40px;line-height: 30px;padding: 0px 30px 0px;}
.mmc_block8_p1{font-size: 20px;color: #ffffff;opacity: 0.5;padding: 40px 240px;text-align: center;}
/*foot*/
.foot_top{width:100%;height:100px;background:#F1F1F2;}
.foot{width: 100%;height: 120px;background: #000000;padding-top: 50px;}
.foot_p{color: #8c8f94;text-align: center;font-size: 16px;}
@media screen and (max-width:1440px){
	.mmc_block1_js_body{padding: 80px 440px 80px 73px;}
}
@media screen and (max-width:1200px){
	.mmc_head{height: 100px;padding-top: 20px;padding-left: 20px;}
	.open_btn{display: block;}
	.mmc_nav{position: fixed;top: 0px;right: -210px;background: #383838;padding-top: 50px;height: 1380px;width: 150px;z-index: 9999;}
	.mmc_nav ul li{float: none;text-align: center;width: 100%;}
	.mmc_nav ul li a{line-height: 60px;color: #fff;display: inline-block;width: 100%;padding: 0px;}
    .nav_show{right: 0px;}
    .mmc_block1_js_body{width: 100%;}
    .mmc_block1_js_body {padding: 80px 440px 80px 100px;}
    .mmc_block2_left{width: 34%;}
    .mmc_block2_left img{width: 100%;}
    .mmc_block2_right{width: 63%;padding-right: 20px;}
    .mmc_block3_item{width: 33%;}
    .mmc_block3_item_body{padding: 40px 10px;}
    .line_img{width: 100%;}
    .mmc_block7_item{width: 32%;margin-right: 0px;margin-left: 1%;}
    .mmc_block4{height: 500px;}
}
@media screen and (max-width:768px){
	.mmc_block1_js_body{padding: 30px 280px 160px 30px;}
	.mmc_block1_js_body_p,.title,.mmc_block6_item_p1{font-size: 18px;}
	.mmc_block6_item_p1 img{width: 26px;margin-right: 10px;}
	.mmc_block2_right_p{    margin-top: 20px;font-size: 18px;}
	.mmc_block2{padding-top: 200px;height:580px;}
	.mmc_block1_js{height: 260px;}
	.mmc_block3_item {width: 50%;border: 2px #2d2d2d solid;}
	.mmc_block6_item{width: 100%;height: 130px;margin-bottom: 20px;}
	.mmc_block6_item_body{height: 100%;}
	.mmc_block6_body {padding: 60px 20px 60px;}
	.title2,.title1{font-size: 30px;}
	.mmc_block8_p1{padding: 10px 30px;}
	.mmc_block8 {height: 1140px;}
	.mmc_block6_top {height: 80px;    margin-bottom: 100px;}
	
}
@media screen and (max-width:425px){
	.mmc_block1_body{    padding: 140px 0px 0px 0px;}
	.mmc_block1_p2{font-size: 30px;margin-top: 20px;margin-bottom: 40px;}
    .mmc_block1_js_body{padding: 0px;background: none;}
    .mmc_block1_js{top: 470px;}
    .mmc_block1_js_body_p{color: #fff;padding: 10px;text-indent: 2rem;}
    .mmc_block1{height: 770px;}
    .mmc_block2_left{display: none;}
    .mmc_block2_right{width: 100%;}
    .mmc_block2 {padding-top: 40px;padding: 40px 10px 20px 10px;height: 480px;}
    .mmc_block3_item{width: 100%;}
    .mmc_block6_item{height: 190px;}
    .mmc_block6_item_body{padding: 20px 0px 0px 10px;}
    .mmc_block6_body {padding: 60px 10px 60px;}
    .mmc_block7_body{padding: 50px 10px 40px;}
    .mmc_block7_item{width: 100%;margin-bottom: 20px;height: 560px;}
    .mmc_block6_top {height: 50px;margin-bottom: 80px;}
    .mmc_block8 {height: 1300px;}
    .mmc_block6_item_p2{    font-size: 12px;margin-top: 10px;}
}