@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
body,html,input{font:12px/1.5 tahoma,arial,\5FAE\8F6F\96C5\9ED1,Microsoft YaHei !important;}
html {-webkit-text-size-adjust:none;}
table{empty-cells:show;border-collapse:collapse;border-spacing:0;}img{border:none}
pre {white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */	word-wrap: break-word; /* Internet Explorer 5.5+ */}
/*h1,h2,h3,h4,h5,h6{font-size:1em;}input.dialog{height:0; height:0; font-size:0; line-height:0; border:none}
h1{font-size:34px;}h2{font-size:26px;}h3{font-size:18px; }h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}*/
input,label,img,th{vertical-align:middle;}.font-fixh{font-family: Georgia,Arial; color: #f00; font-size: 16px; font-weight: 700;}address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
/*input.button ,input.btn{padding:0.25em;width: auto;_width:0;overflow:visible !ie;}*/
ul,ol,li{list-style:none;}
a,a:hover,a:focus{text-decoration:none;}
select optgroup{color:#CAC8BB;}
header{ display:block}
textarea { resize:none; }
caption, th { text-align:left; font-weight:400; }
em, cite, i { font-style:normal; }
a img { border:none; }
.cl:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.cl { zoom:1; }
.hidefocus { outline:none; }
.fl{float: left;}
.fr{float: right;}
.disnone{display: none !important;}
div{box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
/*transition:all .5s ease;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;*/
